body {
    font-family: "Montserrat", sans-serif;
}
star-rating {
  display: flex;
}

.star {
  font-size: 2rem;
  color: gold; 
  cursor: pointer;
}

.star:nth-child(5) {
  color: #ddd; 
}


 

.star-rating .star:nth-child(5)
.star-rating .star:nth-child(5) {
  color: #ddd; 
}

