
:root{
  --primary-color:#96bb7c;
  --backgrounddark-color:#fff2f3;
  --backgroundsc-color:#eff8ed;
  --secondary-color:#ffffff;
  --drop-color:#f9f9f9;
  --dark-color:#252b42;
  --light-color:#737373;
  --danger-color:red;
}


* {
  font-family: "Montserrat", sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

.color_bg_dark {
  background-color:var(--backgrounddark-color);
  padding: 100px 0px 100px 0px;
}



.color_bg {
  background-color:var(--backgroundsc-color) ;
}

section {
  padding: 100px 0 50px 0;
  background-color:var(--secondary-color);
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.navbar {
  padding-top: 20px;
  display: flex;
  align-items: center;
}

#check {
  display: none;
}

.hamburger_menu {
  display: none;
}

.hamburger_menu span {
  font-size: 35px;
  color: var(--text-color);
}

.hamburger_menu span:hover {
  color: var(--primry-color);
}
.nav-left{
  margin: 0px 0px 0px 75px;
}

.brandname {
  font-size: 24px;
  font-weight: 700;
  display: flex;
  align-items: center;
  /* justify-content: flex-end; */
  min-width: 182px;
  
}

.navbar_list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.navbar_list ul :hover {
  color: var(--primary-color);
}

.navbar_list ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 21px;
 
}
/* .navbar_list li{
  list-style: none;
} */

.navbar_list li a {
  text-decoration: none;
  color: var(--light-color);
  font-weight: 700;
  font-size: 14px;
}

.dropdown-content {
  display: none;
  flex-direction: column;
  position: absolute;
  background-color: var(--drop-color);
  max-width: 110px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;

}


.dropdown-content-sub {
  left: 100%;
  display:none ;
  flex-direction: column;
  position: absolute;
  background-color:var(--drop-color);
  max-width: 120px;
  box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 10px;
  gap: 5px; 
  
}


.drop-product:hover .dropdown-content {
  display: flex;
}


.drop-item:hover .dropdown-content-sub{
  display: flex;
}

.drop-content-sub-item {
  padding: 10px;
}

.drop-item {
  display: flex;
  padding: 10px;
}



.nav_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  gap: 10px;
  gap: 45px;
}

.nav_btn :hover {
  color: black;
}
.transparent_btn {
  font-weight: 700;
  font-size: 14px;
  border-radius: 5;
  background-color: transparent;
  border: none;
  color: var(--primary-color);
}

.transparent_btn:hover {
  transition: 0.5s;
  cursor: pointer;
  color: blueviolet;
}

/* .nav_btn a {
  text-decoration: none;
  color: #96bb7c;
  font-size: 14px;
  font-weight: 700;
} */

.filled_button {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  border: none;
  color: #fff;
  padding: 15px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 700;
}

.hero_btn .filled_button:hover {
  transition: 0.3s;
  background-color: transparent;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

h5 {
  color: var(--primary-color);
  display: flex;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}

.hero_bar h1 {
  color: var(--dark-color);
  align-items: center;
  font-weight: 700;
  font-size: 50px;
  max-width: 450px;
}

.hero_bar h4 {
  color: var(--light-color);
  max-width: 370px;
  font-weight: 400;
  font-size: 20px;
  /* line-height: 30px; */
}

.hero_btn {
  display: flex;
  align-items: center;
  gap: 10px;
}

.hero_bar {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.border_button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: var(--primary-color);
  background-color: transparent;
  color: var(--primary-color);
  border-radius: 3px;
  padding: 15px;
  border: 1px solid;
  font-size: 14px;
  font-weight: 700;
}

.hero_btn .border_button:hover {
  background-color: var(--primary-color);
  color: white;
  transition: 0.3s;
}

image {
  display: flex;
  align-items: center;
  max-width: 661px;
}

.container_slg {
  margin: 0% auto;
  max-width: 1050px;
}

.cards img {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

h6 {
  display: flex;
  align-items: center;
  color: var(--primary-color);
  font-weight: 700;
  font-size: 14px;
  margin: 0;
}

/* ********* */

.title_bar {
  gap: 20px;
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
}

.title_bar h2 {
  max-width: 691px;
  font-weight: 700;
  font-size: 40px;
  color: var(--dark-color);
  margin: 0;
}

.title_bar p {
  text-align: start;
  color: var(--light-color);
  max-width: 469px;
  font-weight: 400px;
  font-size: 14px;
  margin: 0;
}

.row_card_text h5 {
  display: flex;
  flex-direction: column;
  color: var(--dark-color);
  font-weight: 700;
  font-size: 16px;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
}

.row_card_text h5::after {
  content: "";
  width: 50px;
  height: 2px;
  background-color: var(--danger-color);
}

.row_card_text p {
  font-weight: 400px;
  color: var(--light-color);
  font-size: 14px;
  max-width: 132px;

}

.row_card_text hr {
  max-width: 50px;
  max-height: 2px;
}

.card {
  max-width: 238px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 13px 19px 0px#00000012;
  padding: 35px 40px;
}

.row_cards {
  display: grid;
  justify-content: center;
  gap: 30px;
  grid-template-columns: 1fr 1fr 1fr 1fr;

}



.card:hover {
  background-color: var(--primary-color);
}

.card:hover h5 {
  color: white;
}

.card:hover p {
  color: #ffff;
}

.row_head h5 {
  display: flex;
  align-items: center;
  color:var(--dark-color);
  font-weight: 700px;
  max-width: 135px;
  max-height: 24px;
}

.wrap {
  display: flex;
  flex-direction: column;
  gap: 150px;
}

.section_sc {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section_sc img {
  border-radius: 15px;
}

.title_bar_sc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 25px;
}

.video-card {
  display: inline-block;
  position: relative;
}

.img-play {
  display: block;
}

.play-btn {
  height: 100px;
  width: 100px;
  color: white;
  background-color: var(--primary-color);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: color 0.3s ease;
}

.play-btn:hover {
  background-color: darkgreen;
}

.play-two {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
}


.title_bar_sc a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--primary-color);
  font-weight: 700;
}

.title_bar_sc a:hover {
  color: blueviolet;
}

hr {
  width: 94px;
  height: 7px;
  background-color: #e74040;
  border: none;
  align-items: flex-start;
  display: flex;
  justify-content: flex-start;
}

.title_bar_sc h2 {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 40px;
  gap: 15px;
  margin: 0;
}

.title_bar_sc p {
  display: flex;
  align-items: center;
  width: 351px;
  color: var(--light-color);
  font-weight: 400;
  font-size: 14px;
}

.button_third {
  font-weight: 700;
  font-size: 14px;
}

.main_thcontent {
  background-color: var(--secondary-color);
}


.card_group {
  display: flex;
  flex: 1;
  border: 2px solid var(--danger-color);
}

.advice_two a {
  display: flex;
  align-items: center;
  justify-items: center;
  text-decoration: none;
  color: #96bb7c;
}

.fourth_img img {
  border-radius: 15px;
  gap: 30px;
}

/* ********** */
/* second card section */
.carddetails {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;


}

.product_cover {
  position: relative;
  text-align: center;
}

.card_frame {
  max-width: 240px;

}



.card_dtls {
  padding: 25px 25px 35px 25px;
}

.frame_head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font: size 20px;

}

.frame_head h6 {
  font-size: 13px;
}




.card_label {
  padding: 0px 10px;
  background-color: #e74040;
  position: absolute;
  top: 20px;
  left: 20px;
  color: white;
}

.iconbtn {
  position: absolute;
  bottom: 24px;
  left: 0px;
  right: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;

}

.iconbtn button:hover {
  color: black;
  font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}



.iconbtn button {
  background-color: white;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
}



.rating {
  background-color: #2d4059;
  color: white;
  border-radius: 20px;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 50px;
  gap: 5px;
}

.frame_heads_top {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.star_symbol_icon {
  color: #ffce31;
  font-size: 18px;
}

.frame_button .border_btn {
  border-radius: 12px;
  background-color: var(--secondary-color);
  border: 1px solid var(--primary-color);

  padding: 15px;
  border-radius: 50px;
}

.card_text h5 {
  color: var(--dark-color);
  font-weight: 700;
  font-size: 16px;
  align-items: center;
}

.card_text p {
  color: var(--light-color);
  font-weight: 400;
  font-size: 14px;
  max-width: 182px;
}

.sale_box {
  display: flex;
}

.sale_text {
  margin-left: 10px;
  margin-top: 3px;
  color: var(--light-color);
  font-weight: 700;
}

.frame_button .learn_more_button {
  font-weight: 700;
  color: #96bb7c;
}

.frame_button .learn_more_button:hover {
  color: blueviolet;
  border-color: blueviolet;
}

.price {
  color: #bdbdbd;
  gap: 5px;
}

.span_price {
  color: #ffab71;
}

/* ************ */

/* three box section */

.three_box_section {
  display: flex;
  gap: 30px;

}

.description p {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

.section-box {
  max-width: 328px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 50px 40px;
  background-color: var(--secondary-color);
  box-shadow: 0px 13px 19px 0px #00000012;
}

.section-box:hover {
  background-color: #2d4059;
  color: white;
}

.section-box:hover h4 {
  color: var(--secondary-color);
}

.section-box:hover h6 {
  color: var(--secondary-color);
}

.section-box:hover p {
  color: var(--secondary-color);
}

.new-text {
  color: white;
}

.new-wrap {
  position: relative;
  display: inline-block;
}

.new-circle {
  border-radius: 50%;
  background-color: #e77c40;
  color: white;
  position: absolute;
  height: 100px;
  width: 100px;
  transform: translate(90%, -100%);
}

.new-circle h3 {
  display: flex;
  font-size: 30px;
  justify-content: center;
  text-align: center;
}

.love-circle {
  background-color:var(--primary-color);
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.love_symbol {
  color: white;
  font-size: 53px;
}

.price-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.free h4 {
  font-weight: 700;
  color: var(--dark-color);
}

.words-section h6 {
  font-weight: 700;
  font-size: 14px;
  color: var(--light-color);
  margin-bottom: 26px;
  text-align: center;
  max-width: 142px;
}

.price-section h2 {
  color: var(--primary-color);
  font-size: 40px;
  padding: 0;
  margin: 0;
}

.price-section h6 {
  color: #8ec2f2;
  margin-top: 14px;
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
}

.description p {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  color:var(--light-color);
  max-width: 204px;
}

.filled_free_btn {
  background-color: var(--primary-color);
  border: none;
  color: #fff;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 700;
  max-width: 243px;
  padding: 15px 70px;
}

.filled_free_btn:hover {
  background-color: gray;
  color: black;
  transition: 0.3s;

}

.three_box_deatils {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0px 0px 0px;
  gap: 5px;
}

.three_box_deatils_sc {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0px 0px 0px;
  gap: 5px;
}

.five_box-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.three_box_deatils span {
  font-size: 32px;
  color: var(--secondary-color);
  background-color: #2DC071;
  border-radius: 100%;
}

.three_box_deatils_sc span {
  font-size: 32px;
  color: var(--secondary-color);
  background-color: #bdbdbd;
  border-radius: 100%;
}

.box_text h6 {
  color: var(--dark-color);
  font-weight: 700;
  font-size: 14px;
}


/* profile section */

.profiles {
  display: flex;
  justify-content: space-evenly;
}

.pro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.photo_frame {
  max-width: 128px;
}

.photo_frame img {
  border-radius: 50%;
}

.pro p {
  font-size: 14px;
  font-weight: 400;
  color: var(--light-color);
  max-width: 320px;
  text-align: center;
}


.star-rating {
  display: flex;
}

.star {
  font-size: 2rem;
  color: gold;
  cursor: pointer;
}

.star:nth-child(5) {
  color: #ddd;
}




.star-rating .star:nth-child(5) .star-rating .star:nth-child(5) {
  color: #ddd;
}

.frame_name h5 {
  color: var(--dark-color);
  font-weight: 700;
  font-size: 16px;
}

.Designe h6 {
  margin-top: 1px;
}

/* ********* */
/* gmail section */

.color_bg_dark .title_bar {
  align-items: center;
  justify-content: center;
}

.color_bg_dark .title_bar p {
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
}

/* mail section */

.mail_deatils {
  display: flex;
  align-items: center;
  justify-content: center;
}

.email-button-group {
  display: flex;
  align-items: center;
}

.email-input {
  padding: 10px;
  font-size: 14px;
  font-size: 400;
  min-width: 668px;
  height: 58px;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  flex: 1;
}

.button-email {
  border: none;
  padding: 10px;
  background-color: var(--primary-color);
  color: white;
  font-weight: 400;
  font-size: 14px;
  border-radius: 0px 4px 4px 0;
  width: 117px;
  height: 58px;
}

.button-email:hover {
  background-color: gray;
  color: black;
  transition: 0.3s;
}

/* footer sdection */

.row_footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1.5fr;
}

.footer-col h5 {
  color: var(--dark-color);
  font-weight: 700;
  font-size: 17px;
}

.footer-col ul {
  padding: 0;
}

.footer-col li a {
  display: flex;
  align-items: center;
  margin-top: 10px;
  gap: 10px;
  text-decoration: none;
  color: var(--light-color);
  font-weight: 700;
  font-size: 14px;
}

.footer-col li a:hover {
  text-decoration: underline;
  text-decoration-color: var(--primary-color);
}

.footer-col li {
  list-style: none;
  display: flex;
  align-items: center;
}

.footer-col span {
  color: var(--primary-color);
}

/* footer end */
.footer_end {
  background-color:var(--drop-color);
  padding: 15px 0px 15px 0px;
}

.f_conntent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer_text h6 {
  font-weight: 700;
  font-size: 14px;
  color: var(--light-color);
}

/* .social_media {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: 15px;
} */

.footer_icon a {
  padding: 5px;
  font-size: 23px;
  color: var(--primary-color);
  text-decoration: none;
}